.conteiner-form{
    background-color: #00669F;
    border-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 300;
    margin: 10vh auto;
    text-align: center;
    width: 70%;
    
}

.conteiner-form h1{
    font-size: 40px;
    font-weight: 700;
}

.conteiner-form form{
    width: 80%;
    align-self: center;
}

.conteiner-form fieldset{
    border: none;
}

.form-top{
    display: flex;
    justify-items: center;
    margin-top: 30px;
}

.form-top div, .form-mid div{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin-top: 15px;
    margin-right: 5%;
}

.input{
    height: 63px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin-top: 15px;
    width: 100%;
}

.form-mid{
    display: flex;
}

#foto {
    color: black;
    font-size: 12px;
    width: 100%;
}

#foto::-webkit-file-upload-button{
    
    font-size: 16px;
    height: 32px;
    text-align: left;
    margin-right: 5%;
    width: 55%;
}


.form-bottom {
    display: flex;
}

.form-bottom textarea{
    width: 45%;
    margin-right: 5%;
    border-radius: 15px;

}

.form-bottom fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 45%;
}

.form-bottom div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 200;
}

.form-bottom p{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
}

.form-bottom label{
    width: 200px;
    display: block;
    cursor: pointer;
    text-align: left;
}
.form-bottom input{

    margin: 5px 20px 0 0;

}


input[type="checkbox"], input[type="radio"]  {
    appearance: none;
}

input[type="checkbox"]:before {
	content: "";
	width: 20px;
	height: 20px;
	float: left;
	border: 2px solid #ccc;
	background: #fff;
}

input[type="checkbox"]:checked::before{
    background-color: #1CD1B0;
}

input[type="checkbox"]:checked::after {
    content: "";
    width: 10px;
    height: 6px;
    border: 4px solid #ffffff;
    float: left;
    margin-left: -18px;
    border-right: 0;
    border-top: 0;
    margin-top: 5px;
    transform: rotate(-55deg);
}


input[type="radio"]:before {
	content: "";
	width: 20px;
	height: 20px;
    border-radius: 15px;
	float: left;
	border: 2px solid #1CD1B0;
	background: #fff;
}

input[type="radio"]:checked::after {
    content: "";
    border: 9px solid #1CD1B0;
    border-radius: 15px;
    float: left;
    margin-left: -19px;
    margin-top: 3px;
}



.button{
    background-color: #1CD1B0;
    border-radius: 20px;
    border: none;
    font-size: 40px;
    font-weight: 700;
    height: 87px;
    margin: 40px 0;
    width: 60%;

}

.button:hover {
    background-color:#001D2D;
    color: white;
    transition: 0.3s;
}

.button:active{
    font-size: 43px;
    border: 2px solid #00669F;
}



