@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif ,sans-serif;
    font-weight: 400;
}

header {
    background-color: #1CD1B0;
    padding: 15px 0;
}

header p {
    color: black;
    font-size: 15px;
    margin-left: 20px;
}

.heroes {
    position: sticky;
    top: 0;
    background-color: #00669F;
    padding: 30px 20px;
    font-size: 40px;
    box-shadow: 0px 3px 7px -3px rgb(0 0 0);
    z-index: 10;
}

.h1-resp{
    display: none;
}

main {
    display: flex;
    flex-grow: 300px;
    justify-content: space-around;
    margin: auto;
    width: 90vw;
}
.box {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 40px 10px;
    border-radius: 5px;
}

.batman-top, .harley-top{
    align-items: start;
    background-image: url(../img/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 190px;
}

.corazon {
    margin: 10px;
}

.box-bottom {
    align-items: center;
    background-color:#F3F3F3;
    box-shadow: 0px 3px 7px -3px rgb(0 0 0);
    display: flex;
    flex-direction: column;
    height: 430px;
    justify-content: space-around;    
}

.selfie {
    align-self: center;
    top: 81px;
    position: relative;
    border-radius: 65px;
    box-shadow: 0px 3px 7px -3px rgb(0 0 0);
}

.box h2 {
    margin-top: 40px;
    font-size: 30px; 
}

.box-bottom p{
    margin: 0 20px;

}

button {
    background-color: #00669F;
    width: 130px;
    height: 48.52px;
    color: white;
    border: none;
}

.harley-top {
    background-image: url(../img/fondo2.png);
}

.superman, .mujerM, .mas, footer img {
    display: none;
}


footer {
    position: relative;
    bottom: 0px;
    color: white;
    background-color: #00669F;
    padding: 16px;
}


/* Responsive */